@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

html, body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

body{
  min-height:100vh;

  display:grid;
  place-items:center;

  background:
    radial-gradient(circle at top left,#ff4ecd55 0%,transparent 40%),
    radial-gradient(circle at bottom right,#4cc9f055 0%,transparent 40%),
    linear-gradient(135deg,#1f1147,#2b1055,#0f172a);

  background-attachment: fixed; /* 🔥 ini penting banget */
}

body::before,
body::after{
  content:"";
  position:fixed;
  inset:0;
  width:400px;
  height:400px;
  border-radius:50%;
  filter:blur(120px);
  opacity:0.4;
  z-index:-1;
}

body::before{
  background:#00d2ff;
  top:-120px;
  left:-100px;
}

body::after{
  background:#ff00cc;
  bottom:-120px;
  right:-100px;
}

.container{
  position:relative;
  z-index:2;

  width:90%;
  max-width:850px;

  padding:35px;

  border-radius:35px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.1);

  backdrop-filter:blur(20px);

  box-shadow:
  0 20px 50px rgba(0,0,0,0.45),
  inset 0 1px 1px rgba(255,255,255,0.05);

  color:white;
}

h1{
  font-size:48px;
  font-weight:800;
  margin-bottom:18px;

  background: linear-gradient(to right,#fff,#8be9fd,#ff79c6);

background-clip: text;
-webkit-background-clip: text;

color: transparent;
-webkit-text-fill-color: transparent;
}

p{
  color:#dbe4ff;
  font-size:17px;
}

input{
  width:100%;
  margin-top:20px;
  padding:18px;

  border:none;
  outline:none;

  border-radius:18px;

  background:rgba(255,255,255,0.12);

  color:white;

  font-size:17px;

  border:1px solid rgba(255,255,255,0.08);

  transition:0.3s;
}

input::placeholder{
  color:#cbd5e1;
}

input:focus{
  transform:scale(1.01);

  border:1px solid #00d2ff;

  box-shadow:
  0 0 20px rgba(0,210,255,0.3);
}

button{
  border:none;
  cursor:pointer;
  transition:0.3s ease;
  font-weight:600;
}

.btn{
  margin-top:22px;

  padding:16px 35px;

  border-radius:18px;

  font-size:17px;

  color:white;

  background:
  linear-gradient(135deg,#00d2ff,#3a7bd5);

  box-shadow:
  0 10px 25px rgba(0,210,255,0.3);
}

.btn:hover{
  transform:translateY(-3px) scale(1.03);

  box-shadow:
  0 15px 30px rgba(0,210,255,0.4);
}

.question-box{
  display:none;
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;

  margin-bottom:25px;

  padding:15px 20px;

  border-radius:20px;

  background:rgba(255,255,255,0.08);

  font-size:18px;
}

.player{
  color:#00e5ff;
  font-weight:700;
}

.question{
  font-size:30px;
  font-weight:700;
  line-height:1.5;

  margin-bottom:25px;
}

.answers{
  display:grid;
  grid-template-columns:1fr;
  gap:14px;
  margin-top:20px;
}

.answer-btn{
  width:100%;

  padding:18px 20px;

  border-radius:20px;

  background:rgba(255,255,255,0.12);

  border:1px solid rgba(255,255,255,0.08);

  font-size:16px;

  color:white;

  transition:0.25s ease;

  cursor:pointer;

  text-align:left;

  backdrop-filter:blur(10px);

  line-height:1.5;
}

.answer-btn:hover{
  transform:translateY(-3px);

  background:
  linear-gradient(135deg,#ff8dc7,#c084fc);

  box-shadow:
  0 10px 25px rgba(255,105,180,0.25);
}

.popup{
  position:fixed;
  inset:0;

  background:rgba(56, 44, 44, 0.312);

  display:none;
  justify-content:center;
  align-items:center;

  z-index:999;

  backdrop-filter:blur(6px);
}

.popup-content{
  width:90%;
  max-width:420px;

  padding:40px;

  border-radius:30px;

  background:#101827;

  border:1px solid rgba(255,255,255,0.08);

  text-align:center;

  animation:popupShow 0.4s ease;
}

.popup-content h2{
  margin-bottom:12px;
  font-size:34px;
  color: white;
}

.popup-content h4{
  margin-bottom:12px;
  color: #b12b63;
}

.popup-buttons{
  display:flex;
  gap:15px;
  justify-content:center;
  margin-top:25px;
}

.ready,
.not-ready{
  padding:14px 25px;
  border-radius:15px;
  color:white;
  font-size:16px;
}

.ready{
  background:linear-gradient(135deg,#ff8dc7,#ff8dc7);
}

.not-ready{
  background:linear-gradient(135deg,#ff5fa2,#ff5fa2);
}

.ready:hover,
.not-ready:hover{
  transform:scale(1.05);
}

.countdown{
  position:fixed;
  inset:0;

  background:#000000dd;

  display:none;
  justify-content:center;
  align-items:center;

  font-size:180px;
  font-weight:800;

  color:white;

  z-index:1000;

  animation:pulse 1s infinite;
}

.result{
  display:none;
  text-align:left;

  max-height:75vh;
  overflow:auto;
}

.result h1{
  margin-bottom:20px;
}

.score{
  padding:18px;
  margin:15px 0;

  border-radius:18px;

  background:rgba(255,255,255,0.08);

  font-size:20px;
}

.wrong-box{
  margin-top:18px;

  padding:20px;

  border-radius:20px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.08);

  line-height:1.8;
}

@keyframes pulse{
  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.1);
  }

  100%{
    transform:scale(1);
  }
}

@keyframes popupShow{
  from{
    opacity:0;
    transform:translateY(20px) scale(0.95);
  }

  to{
    opacity:1;
    transform:translateY(0) scale(1);
  }
}

.result::-webkit-scrollbar{
  width:8px;
}

.result::-webkit-scrollbar-thumb{
  background:#00d2ff;
  border-radius:20px;
}

@media(max-width:700px){

  .container{
    padding:25px;
    border-radius:28px;
  }

  h1{
    font-size:35px;
  }

  .question{
    font-size:23px;
  }

  .answers{
    grid-template-columns:1fr;
  }

  .countdown{
    font-size:110px;
  }

}

@media(max-width:500px){

  .top{
    flex-direction:column;
    gap:10px;
  }

  .question{
    font-size:20px;
  }

  .answer-btn{
    font-size:15px;
  }

}

.navigation{
  display:flex;
  gap:15px;
  justify-content:center;
  margin-top:25px;
}

.nav-button{
  flex:1;
}

.finish-btn{
  width:100%;
  margin-top:15px;
}

.nav-btn{
  padding:10px 18px;
  border-radius:14px;
  background:rgba(255,255,255,0.1);
  color:white;
  font-size:14px;
  border:1px solid rgba(255,255,255,0.08);
}

.nav-btn:hover{
  background:linear-gradient(135deg,#00d2ff,#ff00cc);
  transform:translateY(-2px);
}

/* selected answer */

.selected{
  background:
  linear-gradient(135deg,#ff8dc7,#ff5fa2) !important;

  border:2px solid white;

  transform:scale(1.03);

  box-shadow:
  0 10px 25px rgba(255,105,180,0.4);
}

/* aesthetic improvements */

body{
  background:
  radial-gradient(circle at top left,#ffb7dd55 0%,transparent 30%),
  radial-gradient(circle at bottom right,#c084fc55 0%,transparent 30%),
  linear-gradient(135deg,#2a133d,#1b1230,#120f25);
}

.container{
  background:rgba(255,255,255,0.12);

  border:1px solid rgba(255,255,255,0.15);

  box-shadow:
  0 20px 60px rgba(255,105,180,0.15);
}

.btn{
  background:
  linear-gradient(135deg,#ff69b4,#c084fc);
}

.btn:hover{
  box-shadow:
  0 15px 35px rgba(255,105,180,0.4);
}

.answer-btn{
  background:rgba(255,255,255,0.12);

  backdrop-filter:blur(10px);
}

.answer-btn:hover{
  background:
  linear-gradient(135deg,#ff8dc7,#c084fc);
}

.top{
  background:rgba(255,255,255,0.12);
}

.popup-content{
  background:
  linear-gradient(135deg,#2a133d,#1a1028);
}

.correct-answer{
  color:#ff9ad5;
  font-weight:700;
}

.perfect{
  text-align:center;

  margin-top:25px;

  color:#ff9ad5;
}